@font-face {
  font-family: "MyFont";
  src: url('./my-font.ttf') format('woff'), url('./my-font2.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  /* background: no-repeat url('./404.png'); */
}